



body{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    background-color: black;
    
}
nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    padding-right: 150px;
}

nav ul li:hover{
    color: red;
    font-weight: 700;
}
a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 550;
    color:orange;
}
p{
    font-size: 1.2em;
}
nav a{
    color: white;
}
h1{
    margin-left: 150px;
    color: red;
}

#menu{
    text-align: center;
    margin-bottom: 50px;
}
#events{
     text-align: center;
     margin-bottom: 50px;
}
.menuList{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

a:hover{
    color: orange;
}

/*Event Page*/
#eventContainer{

    border: 5px solid orange;
    width: 600px;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

}

/* Admin Page*/
h2{
    text-align: center;
}

.menuForm{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 15px;

}
label{
    font-weight: bold;
    text-align: left;
}
input{
    height: 28px;
    width: 400px;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.eventForm{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-bottom: 15px;


}
button{
    width: 85px;
    height: 40px;
    background-color: orange;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
}